
<div class="ui grid" *ngIf="book" xmlns="">
  <div class="twelve wide column">
    <img class="ui small image"
         *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book.title }}</h1>
    <h3 class="ui header">{{ book?.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="six wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book?.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
      </div>
      <div class="six wide column">
        <h4 class="ui header">ISBN</h4>
        {{ book?.isbn }}
      </div>
      <div class="six wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ book?.published }}
      </div>
</div>
  </div>
</div>

<form  class="ui large form" [formGroup]="ratingForm" (ngSubmit)="submitForm()">
  <div class="field">
    <label>Sterne</label>
    <input formControlName="rating">
  </div>
  <div class="field">
    <label>Kommentar</label>
    <textarea formControlName="comment" rows="3"></textarea>
  </div>
  <button type="submit" class="ui button" [disabled]="ratingForm.invalid">Speichern</button>
</form>

